*, *::before, *::after{
    box-sizing: border-box;
    margin:0px;
    padding:0px
}
body {
    background-color:#000;
    font-family:monospace, sans-serif;
}
h1{
    color:grey;
    font-size:25px;
}
.interest_form{
    width:35%;
    height:100% auto;
    background-color: #fbfbfb;
    margin: 0px auto;
    margin-top: 80px;
    border:1px solid #f2f2f2;
    text-align:center;
    border-radius:13px;
	box-shadow:5px 5px 30px rgba(0,0,0,0.2);
}

input {
    padding:8px 15px;
    margin:10px;
    border:1px solid grey;
    border-radius:3px;
}

input:focus{
    outline-color:lightblue;
}

label{
    float:left;
    margin-left:14.5%;
}

button{
    background-color:#0000ff;
    border-radius: 4px;
    text-transform: uppercase;
    color: #fff;
    font-size: 12px;
	border:transparent;
    margin-top:30px;
	padding: 8px 20px;
}

#principal{
    margin-left:13%;
}

@media screen and (max-width:567px){
	  .interest_form{
		  width:90%;
	  }
}